<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<EaxsToEaPdfProcessorSettings>
		
		<XsltFoFilePath>aaa\XResources\eaxs_to_fo.xsl</XsltFoFilePath>
		<XsltXmpFilePath>bbb\XResources\eaxs_to_xmp.xsl</XsltXmpFilePath>
		<XsltRootXmpFilePath>ccc\XResources\eaxs_to_root_xmp.xsl</XsltRootXmpFilePath>
		<FontsFolder>ddd\Fonts</FontsFolder>
		
		<!--
        Mapping of unicode language scripts to font families.  This is used to select the appropriate font family for a given script.  The font family names must exist in the FO processor's font configuration.
        The outer element name is an ISO 15924 4-letter codes for the script. A special entry with key 'default' should be in the dictionary with all three base font families specified. 
        This will be used as the default if a script entry is not found in the list.  Usually, this will be fonts with Latin or Western character sets, but could be fonts for a specific language.
        If a 'default' entry is not present, an entry for 'latn' (Latin) will be used as the default.  If neither 'default' nor 'latn' is found, the first entry in the dictionary will be used 
        as the default which may produce unintended results.
		
        The inner element name is the base font family, <Serif>, <SansSerif>, or <Monospace>; the first element is the default if no base font family is specified
        The value is a comma-separated list of font family names; these names must exist in the FO processor's font configuration
		-->
		<LanguageFontMapping>
			<Default>
				<!-- This will be the default of no other entry matches the script -->
				<Serif>serif1</Serif>
				<SansSerif>sans-serif1</SansSerif>
				<Monospace>monospace1</Monospace>
				<Junk>junk1</Junk><!-- should be ignored -->
			</Default>
			<Hebr>
				<!-- Hebrew -->
				<Junk>junk2</Junk><!-- should be ignored -->
				<Serif>serif2</Serif>
				<SansSerif>sans-serif2</SansSerif>
				<Monospace>monospace2</Monospace>
			</Hebr>
		</LanguageFontMapping>
	</EaxsToEaPdfProcessorSettings>
</configuration>