<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<EaxsToEaPdfProcessorSettings>
		
		<XsltFoFilePath>XResources\aaa.xsl</XsltFoFilePath>
		<XsltDpartFilePath>XResources\bbb.xsl</XsltDpartFilePath>
		<XsltRootXmpFilePath>XResources\ccc.xsl</XsltRootXmpFilePath>
		<SaveFoFiles>false</SaveFoFiles>

		<!--
        Mapping of unicode language scripts to font families.  This is used to select the appropriate font family for a given script.  The font family names must exist in the FO processor's font configuration.
        The outer element name is an ISO 15924 4-letter codes for the script. A special entry with key 'default' should be in the dictionary with all three base font families specified. 
        This will be used as the default if a script entry is not found in the list.  Usually, this will be fonts with Latin or Western character sets, but could be fonts for a specific language.
        If a 'default' entry is not present, an entry for 'latn' (Latin) will be used as the default.  If neither 'default' nor 'latn' is found, the first entry in the dictionary will be used 
        as the default which may produce unintended results.
		
        The inner element name is the base font family, <Serif>, <SansSerif>, or <Monospace>; the first element is the default if no base font family is specified
        The value is a comma-separated list of font family names; these names must exist in the FO processor's font configuration
		-->
		<ScriptFontMapping>
			<Default>
				<!-- This will be the default of no other entry matches the script -->
				<Serif>serif</Serif>
				<SansSerif>sans-serif</SansSerif>
				<Monospace>monospace</Monospace>
			</Default>
			<Junk><!-- should fail test -->
				<Serif>serif</Serif>
				<SansSerif>sans-serif</SansSerif>
				<Monospace>monospace</Monospace>
			</Junk>
			<Hebr>
				<!-- Hebrew -->
				<Serif>serif</Serif>
				<SansSerif>sans-serif</SansSerif>
				<Monospace>monospace</Monospace>
			</Hebr>
			<Arab>
				<!-- Arabic -->
				<Serif>Traditional Arabic,serif</Serif>
				<SansSerif>Simplified Arabic,sans-serif</SansSerif>
				<Monospace>Simplified Arabic Fixed,monospace</Monospace>
			</Arab>
			<Hira>
				<!-- Hiragana (Japanese) -->
				<Serif>Kurinto Text JP</Serif>
				<SansSerif>Kurinto Sans JP</SansSerif>
				<Monospace>Kurinto Mono JP</Monospace>
			</Hira>
			<Kana>
				<!-- Katakana (Japanese) -->
				<Serif>Kurinto Text JP</Serif>
				<SansSerif>Kurinto Sans JP</SansSerif>
				<Monospace>Kurinto Mono JP</Monospace>
			</Kana>
			<Hrkt>
				<!-- Hiragana or Katakana (Japanese) -->
				<Serif>Kurinto Text JP</Serif>
				<SansSerif>Kurinto Sans JP</SansSerif>
				<Monospace>Kurinto Mono JP</Monospace>
			</Hrkt>
			<Hang>
				<!-- Hangul (Korean) -->
				<Serif>Kurinto Text KR</Serif>
				<SansSerif>Kurinto Sans KR</SansSerif>
				<Monospace>Kurinto Mono KR</Monospace>
			</Hang>
			<Hani>
				<!-- Han (Chinese: Simplified - SC, Traditional - TC, Hong Kong - HK, and Rare - CJK) -->
				<Serif>"Kurinto Text SC,Kurinto Text TC,Kurinto Text HK,Kurinto Text CJK</Serif>
				<SansSerif>Kurinto Sans SC,Kurinto Sans TC,Kurinto Sans HK,Kurinto Sans CJK</SansSerif>
				<Monospace>Kurinto Mono SC,Kurinto Mono TC,Kurinto Mono HK,Kurinto Mono CJK</Monospace>
			</Hani>
		</ScriptFontMapping>
	</EaxsToEaPdfProcessorSettings>
</configuration>